@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:ital,wght@0,200;0,400;0,500;1,900&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* default font */
body {
  font-family: 'Tilt Prism', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48258a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #743dd8;
}

.transparent-style {
  background-color: transparent !important;
  color: white !important;
}